<% if user_signed_in? %>
  <span>Здравствуйте, <%=  current_user.name  %> <%=  current_user.surname  %></span>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>

  <% @contact_names = ['Dmitry','Sasha','Veaceslav','Alexey'] %>
  <% @contact_family = ['Permyakou','Korchyk','Irizanov','Shparun'] %>
  <% @contact_email = ['ddmitiyperm@gmail.com','aliaksandr.korchyk@gmail.com','slava.irizanov@gmail.com',
                       'an.shparun@yandex.by'] %>

  <br>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">email</th>
    </tr>
    </thead>
    <tbody>
    <% @contact_names.each_with_index do |name, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= name %></td>
        <td><%= @contact_family[index] %></td>
        <td><%= @contact_email[index] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

