<h2><%= t("devise.registrations.edit") %> </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :surname %><br/>
    <%= f.text_field :surname, class:"form-control" %>
  </div><br/>

  <div class="mb-3">
    <%= link_to t("devise.registrations.change"), edit_user_path, class: "text-decoration-none" %>
  </div>

  <div class="actions">
    <%= f.submit t"devise.registrations.update", class:"btn btn-warning" %>
  </div>
<% end %>

<br/>
<div class="card">
    <div class="card-header">
      <h4><%= t("devise.registrations.cancel") %></h4>
    </div>
  <div class="card-body">
    <h5 class="card-title"><%= t("devise.registrations.unhappy") %></h5>
    <p class="card-text"><%= button_to t("devise.registrations.cancel"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %></p>

    <%= link_to t("devise.registrations.back"), :back %>
  </div>
</div>
