<h2><%= t("users.edit.update_your") %></h2>


<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field form-group">
    <% f.label :current_password %><br/>
    <%= f.password_field :current_password, class:"form-control", placeholder:t("users.edit.current_password") %>
  </div>
  <div class="field form-group">
    <% f.label :password, "Password" %><br/>
    <%= f.password_field :password, class:"form-control", placeholder:t(".password"), :autocomplete => "off"  %>
  </div>
  <div class="field form-group">
    <% f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class:"form-control", placeholder: t(".confirm_password") %>
  </div></br>
  <div class="action_container">
    <%= f.submit t("users.edit.update"), class:"btn btn-warning" %>
  </div>
<% end %>

