<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col footer text-center py-4">
      <h1><%= t('welcome.index.welcomes1') %> </h1>
      <h3><%= t('welcome.index.welcomes2') %></h3>
      <br>
      <br>
      <h6><%= t('welcome.index.welcomes3') %></h6>
      <br>
      <h3><%= link_to t('welcome.index.boards'), boards_path, class: "btn btn-warning" %></h3>
    </div>
    <div class="col">
      <%= image_tag "main/main.png", style: "width: 600px; length: 600px" %>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.account_type == 'standard' %>
  <button onclick='funcionForUpdateAccauntType()' class="btn btn-success">Upgrade to Premium</button>
<% end %>

<script>
  function funcionForUpdateAccauntType() {
    let http = new XMLHttpRequest();
    http.open('PUT', `/user/update_account_type`, true);
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.onreadystatechange = function() {
      if(http.readyState == 4 && http.status == 200) {
        location.reload();
      }
    }
    http.send('');
  }
</script>