<%= form_with(model: import) do |form| %>
  <% if import.errors.any? %>
    <div id="error_explanation">
      <% import.errors.each do |error| %>
        <div class="alert alert-danger"><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file, class:"form-label fs-3" %>
    <%= form.file_field :file, class:"form-control" %>
  </div>

  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :board_user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit(class: 'btn btn-primary mt-3') %>
  </div>
<% end %>
