<h1>Imports</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">File</th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <% if import.user == current_user %>
        <tr>
          <td><%= link_to import.file.filename, rails_blob_path(import.file, disposition: 'preview'), class:"text-decoration-none" %></td>
          <td><%= link_to 'Show', import, class: "text-decoration-none" %></td>
          <td><%= link_to 'Edit', edit_import_path(import), class: "text-decoration-none" %></td>
          <td><%= link_to 'Destroy', import, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import', new_import_path, class: "btn btn-primary" %>
