<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight"> <%= link_to 'New Import', new_import_path, class: "btn btn-primary" %></div>
  <div class="ms-auto p-2 bd-highlight"><%= link_to 'Downloads Template', '/cards_import.csv', download: 'cards_import.csv', class: "btn btn-primary" %></div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t(".file") %></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <% if import.user == current_user %>
        <tr>
          <td><%= link_to import.file.filename, rails_blob_path(import.file, disposition: 'preview'), class:"text-decoration-none" %></td>
          <td><%= link_to t(".show"), import, class: "text-decoration-none" %></td>
          <td><%= link_to t(".edit"), edit_import_path(import), class: "text-decoration-none" %></td>
          <td><%= link_to t(".destroy"), import, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
