<h1>Boards</h1>

<div class="d-flex justify-content-end">
  <%= link_to 'Cards Import', imports_path, class: "btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('boards.index.name') %></th>
      <th scope="col"><%= t('boards.index.user') %></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <% if board.user == current_user %>
        <tr>
          <td><%= board.name %></td>
          <td><%= board.user_id %></td>
          <td><%= link_to t('boards.index.learn'), board_learning_path(board), class: "text-decoration-none" %></td>
          <td><%= link_to t('boards.index.show'), board_cards_path(board), class: "text-decoration-none" %></td>
          <td><%= link_to t('boards.index.edit'), edit_board_path(board), class: "text-decoration-none" %></td>
          <td><%= link_to t('boards.index.destroy'), board, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('boards.index.newboard'), new_board_path, class: "btn btn-primary" %>
