<%= form_with(model: [@board, card]) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <% card.errors.each do |error| %>
        <div class="alert alert-danger"><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="bg-light p-5 rounded mb-3">
    <div class="row">
      <div class="col-6 field">
        <%= form.label :question %>
        <div class="autogrow">
          <%= form.text_area(:question, class: 'form-control', id: 'textarea', onInput:"this.parentNode.setAttribute('data-replicated-value', this.value)") %>
        </div>        
      </div>


      <div class="col-6 field">
        <%= form.label :answer %>
        <div class="autogrow">
          <%= form.text_area(:answer, class: 'form-control', id: 'textarea', onInput:"this.parentNode.setAttribute('data-replicated-value', this.value)") %>
        </div>
      </div>
      

      <div class="actions">
        <%= form.submit(class: 'btn btn-primary mt-3') %>
      </div>
    </div>
  </div>
<% end %>

<style>
  .autogrow {
    display: grid;
  }

  .autogrow::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
  }

  .autogrow > textarea {
    resize: none;
  }

  .autogrow > textarea,
  .autogrow::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
  }
</style>
