<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <% card.errors.each do |error| %>
        <div class="alert alert-danger"><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="bg-light p-5 rounded mb-3">
    <div class="row">
      <div class="col-6 field">
        <%= form.label :question %>
        <%= form.text_area(:question, class: 'form-control', id: 'textarea') %>
      </div>


      <div class="col-6 field">
        <%= form.label :answer %>
        <%= form.text_area(:answer, class: 'form-control', id: 'textarea') %>
      </div>
      

      <div class="actions">
        <%= form.submit(class: 'btn btn-primary mt-3') %>
      </div>
    </div>
  </div>
<% end %>
