<h1 class="text-center">Cards</h1>


  <div class="mb-3"><%= link_to 'New Card', new_card_path, class: "btn btn-primary" %></div>

  <% @cards.each do |card| %>

    <div class="bg-light p-5 rounded mb-3">
      <div class="row">
        <div class="col-4">
          <%= card.question %>
        </div>
        <div class="col-4">
          <%= markdown(card.answer) %>
        </div>
        <div class="col-4">
          <%= link_to 'Show', card, class: "btn btn-secondary" %>
          <%= link_to 'Edit', edit_card_path(card), class: "btn btn-primary" %>
          <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>


