<h1 class="text-center">Cards</h1>

  <%= link_to 'New Card', new_board_card_path(@board), class: "btn btn-primary mb-3" %>
  <%= link_to 'Back', boards_path, class: "btn btn-outline-secondary mb-3" %>

<% @cards.each do |card| %>

  <div class="bg-light p-5 rounded mb-3">
    <div class="row">
      <div class="col-4">
        <%= card.question %>
      </div>
      <div class="col-4">
        <%= markdown(card.answer) %>
      </div>
      <div class="col-4">
        <%= link_to 'Show', board_card_path(@board, card), class: "btn btn-secondary" %>
        <button onclick="funcionForId(this)" type="button" class="btn btn-primary card-id" data-bs-toggle="modal" data-bs-target="#exampleModal" value='<%= card.id %>'>
          Edit
        </button>
        <%= link_to 'Destroy', [@board, card], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Card #</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'form', card: @cards[1] %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>




<script>
  function funcionForId(card) {
    let currrent_card_id = card.value;
    document.getElementById('exampleModalLabel').innerText = 'Edit Card # ' + currrent_card_id;
    let path = window.location.pathname;
    let board_id = parseInt(path.replace(/[^\d]/g, ''))
    console.log(currrent_card_id, board_id);
  }
</script>

<!-- Использовать ajax как делал до этого без render form (действие только на карточку) -->