<% if notice %>
  <p id="notice" class="alert alert-success mt-3"><%= notice %></p>
<% end %>

<p>
  <strong>Question:</strong>
  <%= @card.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= markdown(@card.answer) %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
