<header class="p-3 bg-dark text-white crrHeader">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 hMemoryCards"></ul>

      <div class="text-end">
        <% if user_signed_in? %>
          <% if current_user.name.try(:empty?) %>
            <a href="#" class="text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalForProfile"><%= current_user.email %></a>
          <% else %>
            <a href="#" class="text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalForProfile"><%= t("layouts._header.hello") + [current_user.name,current_user.surname].map(&:to_s).join(' ')  %></a>
          <% end %>
        <% if current_user.avatar.present? %>
          <%= image_tag(current_user.avatar, style: "width: 40px; length: 50px; margin: 10px", class: "round", "data-bs-toggle": "modal", "data-bs-target": "#ModalForProfile")  %>
        <% elsif current_user.image? %>
          <%= image_tag current_user.image, class: "round", "data-bs-toggle": "modal", "data-bs-target": "#ModalForProfile" %>
        <% else %>
          <%= image_tag "users/default_image.png",  alt: ' img', class: "round", "data-bs-toggle": "modal", "data-bs-target": "#ModalForProfile" %>
        <% end %>
        <% if current_user.account_type=='premium' %>
          <span id='premium' class="badge rounded-pill bg-primary">
            <%= t('enumerize.user.account_type') %>
          </span>
        <% end %>
        <%= link_to t("layouts._header.signout"), destroy_user_session_path, method: :delete, class:"btn btn-outline-light me-2 ms-3" %>
        <%= link_to t("layouts._header.editprofile"), edit_user_registration_path, class:"btn btn-warning" %>
        <%= link_to "Start Chatting", rooms_path ,class:"btn btn-outline-light" %>
        <% else %>
          <%= link_to t("layouts._header.signin"), new_user_session_path, class:"btn btn-outline-light me-2" %>
          <%= link_to t("layouts._header.signup"), new_user_registration_path, class:"btn btn-warning" %>
        <% end %>
      </div>

      <%= link_to '#' , class: 'nav-link px-2 dropdown-toggle text-white MCHeder' , data: {"bs-toggle": 'dropdown' } do %>
        <%= tag.div '' , class: "flag #{I18n.locale}-flag mt-1" %>
        <%= t I18n.locale %>
      <% end %>

      <div class="dropdown-menu">
        <% I18n.available_locales.each do |locale| %>
          <li>
            <% if I18n.locale==locale %>
              <%= tag.span t(locale), class: 'dropdown-item MCHeder' %>
            <% else %>
              <%= link_to t(locale), url_for(locale: locale), class: 'dropdown-item MCHeder' %>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</header>

<% if user_signed_in? %>
  <% hash = { "undefined" => 0, "very_bad" => 0, "bad" => 0, "medium" => 0, "good" => 0, "perfect" => 0 } %>
  <% current_user.boards.each do |board| %>
    <% board.cards.each do |card| %>
      <% hash[card.confidence_level] += 1 %>
    <% end %>
  <% end %>

  <div class="modal fade" id="ModalForProfile" tabindex="-1" aria-labelledby="ModalForProfileTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">

          <section>
            <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-md-9 col-lg-7 col-xl-12">
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                      <div class="d-flex text-black">
                        <div class="flex-shrink-0">
                          <% if current_user.avatar.present? %>
                            <%= image_tag(current_user.avatar, style: "width: 180px; border-radius: 10px;", class: "img-fluid") %>
                          <% elsif current_user.image? %>
                            <%= image_tag current_user.image, style: "width: 180px; border-radius: 10px;", class: "img-fluid"  %>
                          <% else %>
                            <%= image_tag "users/default_image.png", style: "width: 180px; border-radius: 10px;", class: "img-fluid" %>
                          <% end %>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h5 class="mb-1"><%= current_user.name.try(:empty?) ? current_user.email : [current_user.name,current_user.surname].map(&:to_s).join(' ')  %></h5>
                          <p class="mb-2 pb-1" style="color: #2b2a2a;"><%= t('layouts._header.card_progress') %></p>
                          <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                            style="background-color: #efefef;">
                            <div>
                              <div>
                                <p class="small text-muted mb-1"><%= t('layouts._header.undefined') %></p>
                                <p class="mb-1"><%= hash["undefined"] %></p>
                              </div>
                              <div class="me-5">
                                <p class="small text-muted mb-1"><%= t('layouts._header.very_bad') %></p>
                                <p class="mb-1"><%= hash["very_bad"] %></p>
                              </div>
                              <div>
                                <p class="small text-muted mb-1"><%= t('layouts._header.bad') %></p>
                                <p class="mb-1"><%= hash["bad"] %></p>
                              </div>
                            </div>
                            <div>
                              <div>
                                <p class="small text-muted mb-1"><%= t('layouts._header.good') %></p>
                                <p class="mb-1"><%= hash["good"] %></p>
                              </div>
                              <div>
                                <p class="small text-muted mb-1"><%= t('layouts._header.medium') %></p>
                                <p class="mb-1"><%= hash["medium"] %></p>
                              </div>
                              <div>
                                <p class="small text-muted mb-1"><%= t('layouts._header.perfect') %></p>
                                <p class="mb-1"><%= hash["perfect"] %></p>
                              </div>
                            </div>
                            
                          </div>
                          <div class="d-flex pt-1">
                            <% if user_signed_in? && current_user.account_type == 'standard' %>
                              <button onclick='funcionForUpdateAccauntType()' type="button" class="btn btn-outline-primary me-1 flex-grow-1"><%= t('layouts._header.premium') %></button>
                            <% else %>
                              <button type="button" class="btn btn-outline-primary me-1 flex-grow-1" data-bs-toggle="modal" data-bs-target="#ModalDownloadPremium"><%= t('layouts._header.download') %></button>
                            <% end %>
                            <button type="button" class="btn btn-primary flex-grow-1" data-bs-dismiss="modal"><%= t('welcome.index.text29') %></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
        
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="ModalDownloadPremium" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= t('welcome.index.text21') %><span id='forGreenText'><%= t('layouts._header.download_title') %></span></h5>
      </div>
      <div class="modal-body">
        <%= link_to t('welcome.index.text23'), '/course_3_board_1.csv', download: 'course_3_board_1.csv', class: "btn btn-success btn-dwnld" %>
        <%= link_to t('welcome.index.text24'), '/course_3_board_2.csv', download: 'course_3_board_2.csv', class: "btn btn-success btn-dwnld" %>
        <%= link_to t('welcome.index.text25'), '/course_3_board_3.csv', download: 'course_3_board_3.csv', class: "btn btn-success btn-dwnld" %>
        <%= link_to t('welcome.index.text26'), '/course_3_board_4.csv', download: 'course_3_board_4.csv', class: "btn btn-success btn-dwnld" %>
        <%= link_to t('welcome.index.text27'), '/course_3_board_5.csv', download: 'course_3_board_5.csv', class: "btn btn-success btn-dwnld" %>
        <%= link_to t('welcome.index.text28'), '/course_3_board_6.csv', download: 'course_3_board_6.csv', class: "btn btn-success btn-dwnld" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"><%= t('welcome.index.text29') %></button>
      </div>
    </div>
  </div>
</div>

<style>
    body {
        overflow: hidden;
    }
    .msg-form {
        width: 100%;
        height: 56px;
        padding: 10px;
    }

    #single_room {
        height: calc(100vh - 150px);
    }

    #messages {
        height: calc(100vh - 150px);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #room_container {
        height: 100vh;
        margin-right: 0px !important;
    }

    #side_panel {
        height: 100vh;
        margin-right: 0px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 55px;
    }
    #chatroom_container {
        height: 100vh;
        margin-right: 0px !important;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .msg-content {
        width: 80%;
        margin-right: 5px;
    }
    .message-box {
        word-wrap: break-word;
        width: fit-content;
        max-width: 40%;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: #555555;
        padding: 10px;
    }
  <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      padding: 10px;
  }
  <%= ".cont-#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end
  }
  .round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 11px;
  }

  .MCHeder {
    font-family: cursive;
  }

  .crrHeader {
    margin-bottom: 12px
  }

  .modal-content {
    border-radius: 2.3rem;
  }

  .btn-dwnld {
    margin-bottom: 5px
  }
</style>

<script>
  function funcionForUpdateAccauntType() {
    let http = new XMLHttpRequest();
    http.open('PUT', `/user/update_account_type`, true);
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.onreadystatechange = function() {
      if(http.readyState == 4 && http.status == 200) {
        location.reload();
      }
    }
    http.send('');
  }

  window.addEventListener('load', function (event) {
    let locale = window.location.pathname.split('/')[1];
    let path = window.location.pathname.split('/');
    let place = document.getElementsByClassName('hMemoryCards')[0];

    if (path.includes('users')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      a3.className = "nav-link px-2 text-white fs-4 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.edit_user') %>";
      a3.href = `/${locale}/users/edit`;
      place.append(a3);
    }

    if (path.includes('user')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      a3.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.edit_user') %>";
      a3.href = `/${locale}/users/edit`;
      place.append(a3);

      let a4 = document.createElement('a');
      a4.className = "nav-link px-2 text-white fs-4 MCHeder";
      a4.innerHTML = "<%= t('users.edit.update') %>";
      a4.href = `/${locale}/user/edit`;
      place.append(a4);
    }

    if (path.includes('boards') && !path.includes('cards') && !path.includes('learning') && !path.includes('edit') && !path.includes('new')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-white fs-4 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);
    }

    if (path.includes('boards') && path.includes('new') && !path.includes('cards')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      let path = window.location.pathname.split('/').filter(Number);
      a3.className = "nav-link px-2 text-white fs-4 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.new_board') %>";
      a3.href = `/${locale}/boards/new`;
      place.append(a3);
    }

    if (path.includes('boards') && path.includes('edit')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      let path = window.location.pathname.split('/').filter(Number);
      a3.className = "nav-link px-2 text-white fs-4 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.edit_board') %>";
      a3.href = `/${locale}/boards/${path[0]}/edit`;
      place.append(a3);
    }

    if (path.includes('cards') && window.location.pathname.split('/').filter(Number).length != 2 && !path.includes('new')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      let path = window.location.pathname.split('/').filter(Number);
      a3.className = "nav-link px-2 text-white fs-4 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.cards') %>";
      a3.href = `/${locale}/boards/${path[0]}/cards`;
      place.append(a3);
    }

    if (path.includes('boards') && path.includes('cards') && path.includes('new')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      let path = window.location.pathname.split('/').filter(Number);
      a3.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.cards') %>";
      a3.href = `/${locale}/boards/${path[0]}/cards`;
      place.append(a3);

      let a4 = document.createElement('a');
      a4.className = "nav-link px-2 text-white fs-4 MCHeder";
      a4.innerHTML = "<%= t('layouts._header.new_card') %>";
      a4.href = `/${locale}/boards/${path[0]}/cards/new`;
      place.append(a4);
    }

    if (window.location.pathname.split('/').filter(Number).length == 2) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      let path = window.location.pathname.split('/').filter(Number);
      a3.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.cards') %>";
      a3.href = `/${locale}/boards/${path[0]}/cards`;
      place.append(a3);

      let a4 = document.createElement('a');
      a4.className = "nav-link px-2 text-white fs-4 MCHeder";
      a4.innerHTML = "<%= t('layouts._header.show_card') %>";
      a4.href = `/${locale}/boards/${path[0]}/cards/${path[1]}`;
      place.append(a4);
    }

    if (path.includes('imports') && !path.includes('new')) {
      locale = window.location.href.split('=')[1];
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      a3.className = "nav-link px-2 text-white fs-4 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.import') %>";
      a3.href = `/imports?locale=${locale}`;
      place.append(a3);
    }

    if (path.includes('imports') && path.includes('new')) {
      locale = window.location.href.split('=')[1];
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      a3.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.import') %>";
      a3.href = `/imports?locale=${locale}`;
      place.append(a3);

      let a4 = document.createElement('a');
      a4.className = "nav-link px-2 text-white fs-4 MCHeder";
      a4.innerHTML = "<%= t('layouts._header.new_import') %>";
      a4.href = `/imports/new?locale=${locale}`;
      place.append(a4);
    }

    if (path.includes('learning')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a2.innerHTML = "<%= t('boards.index.boards') %>";
      a2.href = `/${locale}/boards`
      place.append(a2);

      let a3 = document.createElement('a');
      let path = window.location.pathname.split('/').filter(Number);
      a3.className = "nav-link px-2 text-white fs-4 MCHeder";
      a3.innerHTML = "<%= t('layouts._header.lern_cards') %>";
      a3.href = `/${locale}/boards/${path[0]}/learning`;
      place.append(a3);
    }

    if (path.includes('instructions')) {
      let a1 = document.createElement('a');
      a1.className = "nav-link px-2 text-secondary fs-5 MCHeder";
      a1.innerHTML = "Memory cards";
      a1.href = `/${locale}`;
      place.append(a1);

      let a2 = document.createElement('a');
      a2.className = "nav-link px-2 text-white fs-4 MCHeder";
      a2.innerHTML = "<%= t('layouts._header.instruction') %>";
      a2.href = `/${locale}/instructions`;
      place.append(a2);
    }
  });
</script>
